.icon-apps {
  &::before {
    background: currentcolor;
    box-shadow: -0.56rem -0.56rem, -0.56rem 0, -0.56rem 0.56rem, 0 -0.56rem, 0 0.56rem, 0.56rem -0.56rem, 0.56rem 0, 0.56rem 0.56rem;
    height: 0.32rem;
    width: 0.32rem;
  }
}