.icon-caret {
  &::before {
    border-top: 0.48rem solid currentcolor;
    border-right: 0.48rem solid transparent;
    border-left: 0.48rem solid transparent;
    height: 0;
    transform: translate(-50%, -25%);
    width: 0;
  }
}