.icon-more-inline,
.icon-more {
  &::before {
    background: currentcolor;
    box-shadow: -0.64rem 0, 0.64rem 0;
    border-radius: 50%;
    height: 0.32rem;
    width: 0.32rem;
  }
}

.icon-more {
  &::before {
    box-shadow: 0 -0.64rem, 0 0.64rem;
  }
}