// Icon variables
$icon-border-radius: .16em;
$icon-border-width: .16rem;
$icon-prefix: "mg-icon";

// Icon base style
.#{$icon-prefix} {

  margin-left: 0.2rem;
  margin-right: 0.2rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  box-sizing: border-box;
  display: inline-block;   
  font-size: inherit;
  font-style: normal;
  height: 2rem;
  width: 2rem;
  position: relative;
  text-indent: -9999px;
  vertical-align: middle;

  &::before,
  &::after {
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%); 
  }
  // Icon sizes 
  &.icon-s {
    font-size: 1.5rem; 
  }
  &.icon-m {
    font-size: 2rem; 
  } 
  &.icon-x {
    font-size: inherit; 
  } 
  &.icon-l {
    font-size: 2.5rem;
  } 
  &.icon-xl {
    height: 3rem;
    width: 3rem;
    font-size: 3rem;
  } 
}