:root {
    --mg-color-primary: #475dca;
    --mg-color-secondary: #34237a; 
    --mg-control-radius: 1.5rem;
    --mg-input-radius: 1rem;
    --mg-control-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.2);
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  nav {
    transition: all 1s ease-in-out;  
  }

  header {
    padding-top: 10vh;
    position: relative;
    text-align: center;
    background: linear-gradient( 360deg, transparent 1%, #34237a 0%, #00acc1 90%);
    color: var(--mg-color-light);
  }
  
  .mg-icon--darkmode {  
    background: url("images/darkmode.svg"); 
  }
   
  
  .mg-icon--colors { 
    background: url("images/colors.svg"); 
  }
  
  .mg-icon--gears { 
    background: url("images/gears.svg"); 
  }
  
   
  .mg-icon--fr { 
    background: url("images/fr.svg"); 
  }
  
  .mg-icon--sp { 
    background: url("images/sp.svg"); 
  }
  
  .mg-icon--de { 
    background: url("images/de.svg"); 
  }
  .mg-icon--search { 
    background: url("images/search.svg"); 
  }
  
  
  .grid-cel {
    width: 100%;
    background-color: var(--mg-color-primary);
    color: var(--mg-color-light); 
  }
   
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
    padding-top: 1rem;
    padding-bottom: 1rem; 
  
  }
  .hamburger > span {
    display: block; 
    width: 2.5rem;
    height: 0;  
    border-bottom: 0.2rem solid;
    border-radius: 3px;
  } 
  /*override*/
code.prettyprint,
pre.prettyprint {
  width: auto !important;
  white-space: pre !important;
  font-size: smaller;
  background-color: #081e40 !important;
  border-radius: 0 !important;
}