.icon-stop {
  border: $icon-border-width solid currentcolor;
  border-radius: 50%;

  &::after,
  &::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 80.17rem;
    width: 0.25rem;
    background: currentcolor;
    text-align: center;
    margin-top: calc(100% / 4);
  }

  &::after {
    top: 0.25rem;
    height: calc(100% / 2.5);
  }

  &::before {
    height: 0.25rem;
    bottom: 0.25rem;
  }
}