// Icon stop
.icon-stop {
  border: $icon-border-width solid currentColor;
  border-radius: 50%;

  &::after,
  &::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 2px;
    background: currentColor;
    text-align: center;
    margin-top: calc(100%/4);
  }

  &::after {
    top: 2px;
    height: calc(100%/2.5);
  }

  &::before {
    height: 2px;
    bottom: 2px
  }
}