@use "../../mg-variables";

.icon-plus {
  &::before {
    background: currentcolor;
    height: mg-variables.$icon-border-width;
    width: 100%;
  }

  &::after {
    background: currentcolor;
    height: 100%;
    width: mg-variables.$icon-border-width;
  }
}