.icon-plus {
  &::before {
    background: currentcolor;
    height: $icon-border-width;
    width: 100%;
  }

  &::after {
    background: currentcolor;
    height: 100%;
    width: $icon-border-width;
  }
}