// Icon close
.icon-search {


    &::before {
        border: 2px solid;
        border-radius: 100%;
        width: 60%;
        height: 60%;
        top: 40%;
    }

    &::after {
        background: currentColor;
        content: "";
        position: absolute;
        border-radius: 3px;
        width: 2px;
        height: 40%;
        background: currentColor;
        transform: rotate(30deg);
        top: 65%;
        left: 20%;
    }
}