.icon-search {
    &::before {
        border: 0.25rem solid;
        border-radius: 100%;
        width: 60%;
        height: 60%;
        top: 40%;
    }

    &::after {
        content: "";
        position: absolute;
        border-radius: 0.187rem;
        width: 0.25rem;
        height: 40%;
        background: currentcolor;
        transform: rotate(30deg);
        top: 65%;
        left: 20%;
    }
}