// Icon check
.icon-rounded-check,
.icon-check {
  &::before {
    border: $icon-border-width solid currentColor;
    border-right: 0;
    border-top: 0;
    height: .5em;
    width: .7em;
    transform: translate(-50%, -.375em) rotate(-45deg);
  }
}

.icon-rounded-check {
  padding: 0.1rem;
  border: $icon-border-width solid currentColor;
  border-radius: 50%;

}