@use 'sass:map';

// Base
// ––––––––––––––––––––––––––––––––––––––––––––––––––
// Set box-sizing globally to handle padding and border widths
*,
*::after,
*::before {
  box-sizing: inherit;
}

// The base font-size is set at 62.5% for having the convenience
// of sizing rems in a way that is similar to using px: 1.6rem = 16px
html,
body {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden;
}

// Default body styles
body {
  background-color: $color-initial;
  color: $color-secondary;
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: $base-font-size; // Currently ems cause chrome bug misinterpreting rems on body element
  font-weight: 300;
  letter-spacing: 0.016rem; // Converted from 0.01em to rem
  line-height: 1.6;
  margin: 0;
}

main {
  display: block;
}

hr {
  box-sizing: content-box;

  /* 1 */
  height: 0;

  /* 1 */
  overflow: visible;

  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */

pre {
  font-family: monospace;

  /* 1 */
  font-size: 0.125rem;

  /* 2 */
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */

abbr[title] {
  border-bottom: none;

  /* 1 */
  text-decoration: underline;

  /* 2 */
  text-decoration: underline dotted;

  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */

b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */

code,
kbd,
samp {
  font-family: monospace;

  /* 1 */
  font-size: 1.6rem; // Converted from 1em to rem

  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */

small {
  font-size: 1.28rem; // Converted from 80% to rem
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.4rem; // Converted from -0.25em to rem
}

sup {
  top: -0.8rem; // Converted from -0.5em to rem
}

/* Embedded content
	 ========================================================================== */

/**
   * Remove the border on images inside links in IE 10.
   */

img {
  border-style: none;
}

/* Forms
	 ========================================================================== */

/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;

  /* 1 */
  font-size: 100%;

  /* 1 */
  line-height: 1.15;

  /* 1 */
  margin: 0;

  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}


/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */

legend {
  box-sizing: border-box;

  /* 1 */
  color: inherit;

  /* 2 */
  display: table;

  /* 1 */
  max-width: 100%;

  /* 1 */
  padding: 0;

  /* 3 */
  white-space: normal;

  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */

progress {
  vertical-align: baseline;
  border-radius: $input-radius;
  height: map.get($font-sizes, 's');
}

progress::-webkit-progress-bar,
progress::-moz-progress-bar {
  background-color: $color-quaternary;
  border-radius: $input-radius;
}

progress::-webkit-progress-value,
progress::-moz-progress-value {
  background-color: $color-primary;
  border-radius: $input-radius;
  min-width: calc($input-radius);
}



/**
   * Remove the default vertical scrollbar in IE 10+.
   */

textarea {
  overflow: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;

  /* 1 */
  padding: 0;

  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */

[type="search"] {
  appearance: textfield;
  outline-offset: -0.25rem;

  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */

[type="search"]::-webkit-search-decoration {
  appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */

::-webkit-file-upload-button {
  appearance: button;

  /* 1 */
  font: inherit;

  /* 2 */
}

/* Interactive
	 ========================================================================== */

/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */

details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */

summary {
  display: list-item;
}

/* Misc
	 ========================================================================== */

/**
   * Add the correct display in IE 10+.
   */

template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */

[hidden] {
  display: none;
}