@use "../mg-variables";


// Blockquote
// ––––––––––––––––––––––––––––––––––––––––––––––––––

@layer mg.base {
  blockquote {
    border-left: 0.3rem solid mg-variables.$color-quaternary;
    margin-left: 0;
    margin-right: 0;
    padding: 1rem 1.5rem;

    *:last-child {
      margin-bottom: 0;
    }
  }
}

