// Button
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.mg-button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: $color-primary;
  border: 0.2rem solid $color-primary;
  border-radius: $control-radius;
  color: $color-light;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-size: $font-size-s;
  font-weight: 600;
  height: $control-height;
  letter-spacing: 0.1rem;
  padding: 0 2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  opacity: 1;
  box-shadow: $control-shadow;
  position: relative;
  overflow: hidden;

  &:focus,
  &:hover {
    transition: all 0.5s ease;
    box-shadow: $control-active-shadow;
    outline: 0;
    color: $color-light;
  }

  &[disabled] {
    cursor: default;
    opacity: 0.5;

    &:focus,
    &:hover {
      background-color: $color-secondary;
      border-color: $color-primary;
    }
  }

  &.mg-button--outline {
    background-color: transparent;
    color: $color-primary;

    &:focus,
    &:hover {
      transition: all 0.5s ease;
      box-shadow: $control-active-shadow;
    }

    &[disabled] {

      &:focus,
      &:hover {
        border-color: inherit;
      }
    }
  }

  &.mg-button--link {
    box-shadow: none;
    background-color: transparent;
    color: $color-primary;
    border: none;

    &:focus,
    &:hover {
      transition: all 0.5s ease;
      box-shadow: $control-active-shadow;
      color: $color-secondary;
    }

    &[disabled] {

      &:focus,
      &:hover {
        border-color: inherit;
      }
    }
  }

  &.mg-button--clear {
    background-color: transparent;
    color: $color-primary;
    border: none;

    &:focus,
    &:hover {
      transition: all 0.5s ease;
      box-shadow: $control-active-shadow;
    }

    &[disabled] {

      &:focus,
      &:hover {
        border-color: inherit;
      }
    }
  }

  &.mg-button--small {
    font-size: $font-size-s;
    height: $control-height-small;
    padding: 0 1.5rem;

  }

  &.mg-button--large {
    font-size: $font-size-l;
    height: $control-height-large;
    padding: 0 2rem;
  }

  &.mg-button--transparent {
    background-color: transparent;
    border-color: transparent;
  }
}