// Form
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.mg-input,
input[type="range"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
textarea,
select {
  -webkit-appearance: none; // Removes awkward default styles on some inputs for iOS
  appearance: none;
  background-color: transparent;
  border: 0.1rem solid $color-quaternary;
  border-radius: $input-radius;
  box-shadow: none;
  box-sizing: inherit; // Forced to replace inherit values of the normalize.css
  height: 3.8rem;
  padding: 0.6rem 0.7rem; // The .6rem vertically centers text on FF, ignored by Webkit
  width: 100%;
  color: $color-secondary;

  &:focus {
    border-color: $color-primary;
    outline: 0;
  }

  &.mg-input--small {
    font-size: map-get($font-sizes, "x");
    height: 3rem;
    line-height: 2.6rem;
    padding: 0 1rem;
  }

  &.mg-input--large {
    font-size: map-get($font-sizes, "l");
    height: 4.5rem;
    line-height: 4.5rem;
    padding: 0 1.2rem;
  }

}

select {
  background-color: $color-initial;
}

//Hide spin to input numbers
//Chrome, Safari, Edge, Opera
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

//Mozilla
input[type="number"] {
  appearance: textfield;
}

textarea {
  min-height: 6.5rem;
}

label,
legend {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

fieldset {
  border-width: 0;
  padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

.mg-input {
  display: inline-flex;
  align-items: center;

}

.mg-input>input {
  appearance: none;
  border: 0;
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;

}