@use 'sass:map';

// Form
// ––––––––––––––––––––––––––––––––––––––––––––––––––


// Mozilla
input[type="number"] {
  appearance: textfield;
}

.mg-input {
  display: inline-flex;
  align-items: center;
  margin-bottom: 1.5rem;
  gap: 0.5rem;
}

textarea {
  min-height: 6.5rem;
}

.mg-input,
input[type="range"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
textarea,
select {
  // Removes awkward default styles on some inputs for iOS
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: 0.1rem solid $color-quaternary;
  border-radius: $input-radius;
  box-shadow: none;
  box-sizing: inherit; // Forced to replace inherit values of the normalize.css
  height: $control-height;
  padding: 1rem;
  width: 100%;
  color: $color-secondary;

  &:focus {
    border-color: $color-primary;
    outline: 0;
  }

  &.mg-input--small {
    font-size: $font-size-s;
    height: $control-height-small;
    padding: 0 1rem;
  }

  &.mg-input--large {
    font-size: $font-size-l;
    height: $control-height-large;
    padding: 0 1.2rem;
  }

}

/* stylelint-disable */
select {
  background-color: $color-initial;
  /* fix  text inside select */
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

/* stylelint-enable */
.mg-input>input {
  appearance: none;
  border: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

/* Change Autocomplete styles in Chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  appearance: none;
  border: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  -webkit-text-fill-color: $color-secondary;
  -webkit-box-shadow: $control-shadow;
  transition: background-color 5000s ease-in-out 0s;
}

// Hide spin to input numbers
// Chrome, Safari, Edge, Opera
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

div.mg-input:focus-within {
  border-color: $color-primary;
  outline: 0;
}

label,
legend {
  display: block;
  font-size: $font-size-m;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

fieldset {
  border-width: 0;
  padding: 0;
}