@use "../mg-variables";

// Link
// ––––––––––––––––––––––––––––––––––––––––––––––––––

a {
  color: mg-variables.$color-primary;
  text-decoration: none;

  &:focus,
  &:hover {
    color: mg-variables.$color-secondary;
  }
}
