// Range input (native)
// ––––––––––––––––––––––––––––––––––––––––––––––––––

input[type="range"] {
  appearance: none;
  background: $color-quaternary; 
  border-radius: $input-radius; 
  display: inline-block;
  height: 0.8rem;
  margin-bottom: 1.5rem;
  margin-right: 1.1em;
  opacity: 0.9;
  outline: none; 
  padding: 0;
  position: relative;
  transition: opacity 0.2s;
  vertical-align: top;  
  width: 100%;

  &:hover {
    opacity: 1; 
    
  } 
  
  &::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: $color-primary;
    border-radius: 50%;
    border: none;
    box-shadow: var(--mg-control-shadow);
    cursor: pointer;
    height: 2.7rem;
    width: 2.7rem;
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: $color-primary;
    border-radius: 50%;
    border: none;
    box-shadow: var(--mg-control-shadow);
    cursor: pointer;
    height: 2.7rem;
    width: 2.7rem;
  }
  &:disabled {
    opacity: 0.5;
    &::-moz-range-thumb {
      background: $color-quaternary;
    }
    &::-webkit-slider-thumb {
      background: $color-quaternary; 
    }
  }
}
