// Typography
// ––––––––––––––––––––––––––––––––––––––––––––––––––

b,
strong {
	font-weight: bold;
}

p {
	margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
	letter-spacing: -.1rem;
	margin-bottom: 2.0rem;
}

h1 {
	font-size: $font-size-5xl;
	line-height: 1;
}

h2 {
	font-size: $font-size-4xl;
	line-height: 1.2;
}

h3 {
	font-size: $font-size-3xl;
	line-height: 1.3;
}

h4 {
	font-size: $font-size-2xl;
	letter-spacing: -.08rem;
	line-height: 1.4;
}

h5 {
	font-size: $font-size-xl;
	letter-spacing: -.05rem;
	line-height: 1.5;
}

h6 {
	font-size: $font-size-l;
	letter-spacing: 0;
	line-height: 1.6;
}