// Typography
// ––––––––––––––––––––––––––––––––––––––––––––––––––

b,
strong {
	font-weight: bold;
}

p {
	margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
	letter-spacing: -.1rem;
}

h1 {
	font-size: $font-size-4xl;
}

h2 {
	font-size: $font-size-3xl;
}

h3 {
	font-size: $font-size-2xl;
}

h4 {
	font-size: $font-size-xl;
	letter-spacing: -.08rem;
}

h5 {
	font-size: $font-size-l;
	letter-spacing: -.05rem;
}

h6 {
	font-size: $font-size-m;
	letter-spacing: 0;
}