@use "../mg-variables";

$icon-border-width: 0.2rem;
$icon-prefix: "mg-icon";

.#{$icon-prefix} {
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: content-box;
  display: inline-flex;
  font-family: inherit, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", emoji, sans-serif;
  font-size: inherit;
  font-style: normal;
  font-weight: 400;
  justify-content: center;
  line-height: 1;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  min-height: 2rem;
  min-width: 2rem;
  position: relative;
  text-align: center;
  user-select: none;
  vertical-align: middle;

  &::before,
  &::after {
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  // When used with inner text or emojis (without pseudo-icon classes), disable empty pseudo-elements
  &:not([class*="icon-"], [class*="svg-icon-"]) {
    &::before,
    &::after {
      content: none;
      display: none;
    }
  }

  @each $key, $value in mg-variables.$font-sizes {
    &.#{$icon-prefix}--#{$key} {
      font-size: $value;
      min-height: $value;
      min-width: $value;
    }
  }
}