$icon-border-width: .3rem;
$icon-prefix: "mg-icon";

.#{$icon-prefix} {
  box-sizing: content-box;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: inline-block;
  font-size: inherit;
  font-style: normal;
  min-width: 2rem;
  min-height: 2rem;
  position: relative;
  text-indent: -9999rem;
  vertical-align: middle;

  &::before,
  &::after {
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }


  @each $key, $value in $font-sizes {
    &.#{$icon-prefix}--#{$key} {
      font-size: $value;
      min-width: $value;
      min-height: $value;
    }
  }
}