@use "../mg-variables";

.mg-alert {
  border-top-right-radius: mg-variables.$control-radius;
  border-bottom-right-radius: mg-variables.$control-radius;
  border-left: 0.3rem solid mg-variables.$color-primary;
  margin-left: 0;
  margin-right: 0;
  padding: 1rem 1.5rem;
  margin-bottom: 2.5rem;
  background-color: mg-variables.$color-quinary;

  &.danger {
    border-left-color: mg-variables.$color-danger;
  }

  &.success {
    border-left-color: mg-variables.$color-success;
  }

  &.warning {
    border-left-color: mg-variables.$color-warning;
  }
}