.mg-badge {
    border-radius: $control-radius;
    display: inline-block;
    margin-bottom: 0.5rem;
    padding: .5rem 1rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: $color-primary;
    color: $color-light;

    &.success {
        background-color: $color-success;
    }

    &.warning {
        background-color: $color-warning;
    }

    &.danger {
        background-color: $color-danger;
    }
}