@keyframes mg-rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

//  0% 50% 100%
@mixin build-none-half-full($prefix, $style) {
  .#{$prefix}-none {
    #{$style}: 0%;
  }

  .#{$prefix}-half {
    #{$style}: 50%;
  }

  .#{$prefix}-full {
    #{$style}: 100%;
  }

}

@mixin build-for-colors($prefix, $style) {
  @each $key, $value in $color-map {
    .#{$prefix}-#{""+$key} {
      #{$style}: $value;
    }
  }
}

.mg-check,
.mg-radio,
.mg-toggle {
  position: relative;
  padding-left: 3rem;
  margin-right: 2.5rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
  user-select: none;
  display: inline-flex;
  align-items: center;
}