  
.mg-collapse {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
 
 .mg-collapse + .mg-collapse--content   {   
  display: none;  
}
.mg-collapse.opened + .mg-collapse--content   {  
  display: block;  
}
