.mg-check {
  position: relative;
  padding-left: 3rem;
  margin-right: 2.5rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
  user-select: none;
  display: inline-flex;
  align-items: center;
}

/* Hide the browser's default checkbox */
.mg-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.mg-check .mg-check--icon {
  position: absolute;
  top: calc(50% - 1.2rem);
  left: 0;
  height: 2.4rem;
  width: 2.4rem;
  border-style: solid;
  border-color: $color-quaternary;
  border-width: thin;
  transition: all 0.3s;
  border-radius: 0.3rem;
}

/* On mouse-over, add a grey background color */
.mg-check:hover input~.mg-check--icon {
  background-color: $color-secondary;
}

/* When the checkbox is checked, add a blue background */
.mg-check input:checked~.mg-check--icon {
  background-color: $color-primary;
}

/* Create the mg-check--icon/indicator (hidden when not checked) */
.mg-check .mg-check--icon::after {
  content: "";
  position: absolute;
  display: none;
  left: 0.8rem;
  top: 0.16rem;
  width: 0.8rem;
  height: 1.6rem;
  border: solid $color-light;
  border-width: 0 0.25rem 0.3rem 0;
  transform: rotate(45deg);
}


/* Show the mg-check--icon when checked */
.mg-check input:checked~.mg-check--icon::after {
  display: block;
}



/* disabled state */
.mg-check input:disabled~.mg-check--icon {
  background-color: $color-quinary;
}

.mg-check input:focus~.mg-check--icon {
  border-color: $color-primary;
  border-style: dotted;
  border-width: thin;
}