 
.mg-collapse {
    display: inline-flex;
    align-items: center;
    justify-content: space-between; 

    &+.mg-collapse--content { 
      display: none;
      
    }

    &.opened+.mg-collapse--content { 
      display: block;
    
    }

  }