.mg-block {
    display: block;
}

.mg-inline {
    display: inline;
}

.mg-inline-block {
    display: inline-block;
}

.mg-inline-table {
    display: inline-table;
}

.mg-inline-flex {
    display: inline-flex;
}

.mg-none {
    display: none;
}

.mg-show {
    opacity: 1;
    visibility: visible;
}

.mg-clearfix {
    transform: scale(1);
}

.mg-clearfix::after,
.mg-clearfix::before {
    content: "";
    display: table;
}

.mg-clearfix::after {
    clear: both;
}

.mg-shadow {
    box-shadow: $control-shadow;
}

.mg-overflow-auto {
    overflow: auto;
}

.mg-overflow-hidden {
    overflow: hidden;
}

.mg-overflow-x-auto {
    overflow-x: auto;
}

.mg-overflow-y-auto {
    overflow-y: auto;
}

.mg-overflow-x-hidden {
    overflow-x: hidden;
}

.mg-overflow-y-hidden {
    overflow-y: hidden;
}

.mg-visible {
    visibility: visible;
}

.mg-hidden {
    visibility: hidden;
}

.mg-rounded {
    border-radius: $control-radius;
}

@each $key, $value in $rem-map {

    .mg-rounded#{$key} {
        border-radius: $value;
    }

    .mg-rounded-tl#{$key} {
        border-top-left-radius: $value;
    }

    .mg-rounded-tr#{$key} {
        border-top-right-radius: $value;
    }

    .mg-rounded-br#{$key} {
        border-bottom-right-radius: $value;
    }

    .mg-rounded-bl#{$key} {
        border-bottom-left-radius: $value;
    }
}

@include build-none-half-full('mg-rounded', 'border-radius');

.mg-border {
    border-width: 0.12rem;
    border-style: solid;
}

.mg-border-thin {
    border-width: 0.07rem;
    border-style: solid;
}

.mg-border-bold {
    border-width: 0.19rem;
    border-style: solid;
}

.mg-border-bolder {
    border-width: 0.31rem;
    border-style: solid;
}