.mg-group {
  display: inline-flex;
  justify-items: baseline;
  flex-wrap: nowrap;
  height: auto;
}

/* stylelint-disable */
/*left group styling*/
.mg-group>select:nth-child(1),
.mg-group>input:nth-child(1),
.mg-group>button:nth-child(1),
.mg-group>textarea:nth-child(1),
.mg-group>.mg-button:nth-child(1),
.mg-group>.mg-dropdown:nth-child(1)>button,
.mg-group>.mg-select:nth-child(1)>select {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
}
/*inner group styling*/
.mg-group>select:not(:nth-child(1), :nth-last-child(1)),
.mg-group>input:not(:nth-child(1), :nth-last-child(1)),
.mg-group>button:not(:nth-child(1), :nth-last-child(1)),
.mg-group>textarea:not(:nth-child(1), :nth-last-child(1)),
.mg-group>.mg-button:not(:nth-child(1), :nth-last-child(1)),
.mg-group>.mg-dropdown:not(:nth-child(1), :nth-last-child(1))>button,
.mg-group>.mg-select:not(:nth-child(1), :nth-last-child(1))>select {
  border-radius: 0; 
  
}

/*right group styling*/
.mg-group>.mg-select:last-child>select,
.mg-group>input:last-child,
.mg-group>button:last-child,
.mg-group>textarea:last-child,
.mg-group>.mg-button:last-child,
.mg-group>.mg-dropdown:last-child>button,
.mg-group>select:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
}

/* stylelint-enable */
.mg-group .mg-group--outline {
  box-shadow: $control-shadow;
}