//  Make all grid columns
//  ---------------------------------------------

.mg-col {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}



@include create-all-grid-columns;

//  Columns X
//  ---------------------------------------------

@include create-grid-columns($name-x);

//  Columns S
//  ---------------------------------------------

@media screen and (min-width: $screen-s) {
  @include create-grid-columns($name-s);
}

//  Columns M
//  ---------------------------------------------

@media screen and (min-width: $screen-m) {
  @include create-grid-columns($name-m);
}

//  Columns L
//  ---------------------------------------------

@media screen and (min-width: $screen-l) {
  @include create-grid-columns($name-l);
}

//  Columns XL
//  ---------------------------------------------

@media screen and (min-width: $screen-xl) {
  @include create-grid-columns($name-xl);
}

//  Grid
//  _____________________________________________


// Adaptative hide
@media screen and (max-width: $screen-s) {
  @include create-conditional-hidden($name-s);
}

@media screen and (max-width: $screen-m) {
  @include create-conditional-hidden($name-m);
}

@media screen and (max-width: $screen-l) {
  @include create-conditional-hidden($name-l);
}

@media screen and (max-width: $screen-xl) {
  @include create-conditional-hidden($name-xl);
}

// Adaptative display
@media screen and (min-width: $screen-s) {
  @include create-conditional-display($name-s);
}

@media screen and (min-width: $screen-m) {
  @include create-conditional-display($name-m);
}

@media screen and (min-width: $screen-l) {
  @include create-conditional-display($name-l);
}

@media screen and (min-width: $screen-xl) {
  @include create-conditional-display($name-xl);
}

.mg-container {
  @include init-container;

  max-width: $screen-l;
}

.mg-container-fluid {
  @include init-container;

  max-width: width auto;
}

.mg-row {
  @include init-row;
}

@include create-gap-utilities($rem-map);