@use "../mg-variables";
@use "mg-grid-utilities";

//  Make all grid columns
//  ---------------------------------------------

.mg-col {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}



@include mg-grid-utilities.create-all-grid-columns;

//  Columns X
//  ---------------------------------------------

@include mg-grid-utilities.create-grid-columns(mg-variables.$name-x);

//  Columns S
//  ---------------------------------------------

@media screen and (min-width: mg-variables.$screen-s) {
  @include mg-grid-utilities.create-grid-columns(mg-variables.$name-s);
}

//  Columns M
//  ---------------------------------------------

@media screen and (min-width: mg-variables.$screen-m) {
  @include mg-grid-utilities.create-grid-columns(mg-variables.$name-m);
}

//  Columns L
//  ---------------------------------------------

@media screen and (min-width: mg-variables.$screen-l) {
  @include mg-grid-utilities.create-grid-columns(mg-variables.$name-l);
}

//  Columns XL
//  ---------------------------------------------

@media screen and (min-width: mg-variables.$screen-xl) {
  @include mg-grid-utilities.create-grid-columns(mg-variables.$name-xl);
}

//  Grid
//  _____________________________________________


// Adaptative hide
@media screen and (max-width: mg-variables.$screen-s) {
  @include mg-grid-utilities.create-conditional-hidden(mg-variables.$name-s);
}

@media screen and (max-width: mg-variables.$screen-m) {
  @include mg-grid-utilities.create-conditional-hidden(mg-variables.$name-m);
}

@media screen and (max-width: mg-variables.$screen-l) {
  @include mg-grid-utilities.create-conditional-hidden(mg-variables.$name-l);
}

@media screen and (max-width: mg-variables.$screen-xl) {
  @include mg-grid-utilities.create-conditional-hidden(mg-variables.$name-xl);
}

// Adaptative display
@media screen and (min-width: mg-variables.$screen-s) {
  @include mg-grid-utilities.create-conditional-display(mg-variables.$name-s);
}

@media screen and (min-width: mg-variables.$screen-m) {
  @include mg-grid-utilities.create-conditional-display(mg-variables.$name-m);
}

@media screen and (min-width: mg-variables.$screen-l) {
  @include mg-grid-utilities.create-conditional-display(mg-variables.$name-l);
}

@media screen and (min-width: mg-variables.$screen-xl) {
  @include mg-grid-utilities.create-conditional-display(mg-variables.$name-xl);
}

.mg-container {
  @include mg-grid-utilities.init-container;

  max-width: mg-variables.$screen-l;
}

.mg-container-fluid {
  @include mg-grid-utilities.init-container;

  max-width: width auto;
}

.mg-row {
  @include mg-grid-utilities.init-row;
}

@include mg-grid-utilities.create-gap-utilities(mg-variables.$rem-map);