@mixin mg-inline-css-icon {
  vertical-align: middle;
  box-sizing: border-box;
  border: 0.25rem solid transparent;
  border-color: currentcolor;
  right: 1rem;
  border-right: 0;
  border-top: 0;
  content: "";
  display: inline-block;
  pointer-events: none;
  position: absolute;
  transform-origin: center;
  height: 0.8rem;
  width: 0.8rem;
  transition: all 0.2s;
}

@mixin mg-toggle-effect {
  transform: rotate(-45deg);
  top: calc(50% - 0.5rem);
}


.mg-icon-dropdown,
.mg-icon-collapse {
  // force padding to container element to reserve space for arrow
  padding-right: 3rem !important;
  position: relative;

  &::after {
    @include mg-inline-css-icon;
    @include mg-toggle-effect;
  }

  &.opened::after {
    transform: rotate(-225deg);
    top: 45%;
  }
}

.mg-icon-nav {
  // force padding to container element to reserve space for arrow
  padding-right: 3rem !important;
  position: relative;

  &::after {
    @include mg-inline-css-icon;
    @include mg-toggle-effect;

    transform: rotate(-135deg);
    top: 40%;
  }

  &.opened::after {
    transform: rotate(-225deg);
    top: 45%;
  }
}

.mg-icon--action {
  cursor: pointer;
  transition: 0.3s;
}

.mg-icon--action:hover {
  opacity: 0.7;
}