
.mg-arrow { 
  //force padding to container element to reserve space for arrow
   padding-right: 2.5rem!important;
} 
@mixin mg-arrow-after {  
  vertical-align: middle;
  box-sizing: border-box;
  border: 2px solid transparent;
  border-color: $color-initial;
  right: 1rem;
  border-right: 0;
  border-top: 0;
  content: ""; 
  display: inline-block;  
  pointer-events: none;
  position: absolute;
  top: 30%;   
  transform-origin:center;
  height: 0.8rem;  
  width: 0.8rem;
  transition: all 0.2s; 
  }
  
  @mixin mg-arrow-down-after {     
    -webkit-transform: rotate(-45deg); 
    transform: rotate(-45deg);  
    
  } 
   
  .mg-arrow::after {
    @include mg-arrow-after;
    margin-top: 0;
   
  } 
  
  .mg-arrow.down::after {
    @include mg-arrow-down-after
  }
    
  .mg-arrow.up::after, .mg-arrow.down.opened::after {
    transform: rotate(-225deg);
    top: 40%;  
    
  }
    
    
  //fix arrow visibility when button is clear or outline
  .mg-arrow.mg-button--link:after,
  .mg-arrow.mg-button--clear:after,
  .mg-arrow.mg-button--outline:after {
    border-color: $color-secondary;
  }