@mixin mg-inline-css-icon {  
  vertical-align: middle;
  box-sizing: border-box;
  border: 2px solid transparent;
  border-color: currentColor;
  right: 1rem;
  border-right: 0;
  border-top: 0;
  content: ""; 
  display: inline-block;  
  pointer-events: none;
  position: absolute; 
  transform-origin:center;
  height: 0.7rem;  
  width: 0.7rem;
  transition: all 0.2s; 
  }
  
  @mixin mg-dropdown-icon {     
    transform: rotate(-45deg);   
    top: calc(50% - 0.5rem);   
  } 

.mg-collapse-icon {
   //force padding to container element to reserve space for arrow
   padding-right: 2.5rem!important;
   position: relative;
  &::after {
    @include mg-inline-css-icon; 
    transform: rotate(-135deg);
    top: calc(50% - 0.3rem);   
  } 
 
  &.opened::after {
    transform: rotate(-45deg);  
    top: 40%;   
  } 
}  
.mg-dropdown-icon { 
  //force padding to container element to reserve space for arrow
   padding-right: 2.5rem!important;
    
  &::after {
    @include mg-inline-css-icon; 
    @include mg-dropdown-icon;
  } 
 
  &.opened::after {
    transform: rotate(-225deg);
    top: 40%;   
  }
      
} 
 
.mg-icon-close {
  font-family: default;
  font-style: normal;
  cursor: pointer;
  transition: 0.3s;
  font-size: calc(100% + 1rem);
  margin-top: -1rem;
}

.mg-icon-close::after {
  content: "\D7";
}

.mg-icon-close:hover {
  opacity: 0.8;
}

  