@mixin mg-inline-css-icon {
  vertical-align: middle;
  box-sizing: border-box;
  border: 2px solid transparent;
  border-color: currentColor;
  right: 1rem;
  border-right: 0;
  border-top: 0;
  content: "";
  display: inline-block;
  pointer-events: none;
  position: absolute;
  transform-origin: center;
  height: 0.8rem;
  width: 0.8rem;
  transition: all 0.2s;
}

@mixin mg-dropdown--icon {
  transform: rotate(-45deg);
  top: calc(50% - 0.5rem);
}

.mg-icon--action {
  cursor: pointer;
  transition: 0.3s;
}

.mg-icon--action:hover {
  opacity: 0.7;
}