.mg-modal--content {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
}

.mg-modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  backface-visibility: hidden;
  z-index: 1000;
  opacity: 0;
  background: rgb(0 0 0 / 70%);
  transition: opacity 0.3s;

  &>.mg-modal--content {
    background-color: $color-initial;
    border-radius: $control-radius;
    color: $color-secondary;
    padding: 2rem 1.5rem;    
    margin-top: 0;
    z-index: 2000;
    box-shadow: $control-shadow;
  }


  &>.mg-modal--content>.mg-modal--body {
    max-height: 80vh;
    overflow-y: auto;
  }

  &.mg-bottom>.mg-modal--content {
    bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &.mg-top>.mg-modal--content {
    top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &.mg-right>.mg-modal--content {
    right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: -1rem;
  }

  &.mg-left>.mg-modal--content {
    left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1rem;
  }
}