ul.mg-nav {
  margin-bottom: 1.2rem;
  margin-bottom: 0;
  padding: 0.5rem;
  margin-left: 0;
  margin-top: 0;
  overflow: auto;
  flex-direction: column;


  &>li {
    white-space: nowrap;
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    padding: 0.5rem;
    text-decoration: none;
    color: $color-secondary;
    align-items: center;
    border-bottom: 0.125rem solid $color-quinary;
  }

  &>li.active {
    color: currentcolor;
    border-left: 0.3rem solid $color-primary;
    font-weight: bold;
  }

  &>li>a {
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    color: $color-secondary;
  }

  & li:hover {
    background-color: $color-quinary;
  }

  &.mg-nav--inline {
    display: inline-flex;
    flex-direction: row;
    align-items: baseline;

    &>li {
      display: flex;
      flex-wrap: nowrap;

    }
  }


  &.mg-nav--inline>li.active {
    border: none;
    border-bottom: 0.3rem solid $color-primary;
  }

  &.mg-nav--buttons {
    display: inline-flex;
    flex-flow: row wrap;
    border: none;
    padding-bottom: 0;
    align-items: baseline;
    background-color: $color-quinary;
    border-radius: var(--mg-control-radius);


    &>li {
      border: none;
      padding-bottom: 0;
    }

    &>li>button,
    &>li>.mg-button {
      background-color: transparent;
      color: var(--mg-color-secondary);

    }

    &>li.active>button,
    &>li.active>.mg-button {
      background-color: var(--mg-color-primary);
      color: var(--mg-color-light);

    }


  }

}