.mg-nav ul {
  margin-bottom: 0;
  padding: 0.5rem;
}
.mg-nav ul > li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  padding: 0.5rem 0.5rem;
  text-decoration: none;
  color: $color-secondary;
  align-items: center; 
  border-bottom: 1px solid $color-quinary;
}

.mg-nav ul > li.active {
  color: $color-initial;
  border-left: 0.3rem solid $color-primary;
  overflow-y: hidden;
  font-weight: bold;
}

.mg-nav.mg-nav--inline > ul > li.active {
  border: none;
  border-bottom: 0.3rem solid $color-primary;
}

.mg-nav ul > li > a { 
  width: 100%;  
  cursor: pointer;
  text-decoration: none;
  color: $color-secondary;
}

.mg-nav ul > li:hover {
  background-color: $color-quinary;
}

.mg-nav--inline ul {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: baseline;
}
.mg-nav--inline ul > li {
  display: flex;
  flex-wrap: nowrap;
}
.mg-nav--inline ul > li:not(.mg-right) {
  float: left; 
}
