.mg-nav {
  padding: 0.5rem;
  margin-left: 0;
  margin-top: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;

  & li {
    white-space: wrap;
    list-style-type: none;
    margin: 0;
    display: flex;
    padding: 0.5rem;
    text-decoration: none;
    color: $color-secondary;
    align-items: center;
    border-bottom: 0.125rem solid $color-quinary;
  }

  & li.active {
    color: currentcolor;
    border-left: 0.3rem solid $color-primary;
    font-weight: bold;
  }

  & li>a {
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    color: $color-secondary;
  }

  & li:hover {
    background-color: $color-quinary;
  }

}

.mg-nav--inline {
  overflow-x: auto;
  flex-direction: row;


  /* stylelint-disable */
  & li {
    flex-wrap: nowrap;

  }

  /* stylelint-enable */
  & li.active {
    border: none;
    border-bottom: 0.3rem solid $color-primary;
  }
}

.mg-nav--buttons {
  overflow-x: auto;
  flex-direction: row;

  /* stylelint-disable */
  & li,
  & li.active {
    border: none;
  }

  /* stylelint-enable */
  & li:hover {
    background-color: transparent;
  }

  & li>button,
  & li>.mg-button {
    border: none;
   
    margin-bottom: 0;
  }

  & li.active>button,
  & li.active>.mg-button {
    background-color: $color-primary;
    color: $color-light;

  }
}