@use "sass:map";

.mg-progress {
    display: inline-block;
    background-color: $color-quinary;
    border-radius: $control-radius;
    width: 100%;
    height: map.get($font-sizes, "s");
    margin-bottom: 1.2rem;

    &>.mg-progress--bar {
        border-radius: $control-radius;
        background-color: $color-primary;
        height: 100%;
    }
}