// .mg-pad[0-10] { padding: [0-10]rem; }
@each $key, $value in $rem-map {

  .mg-pad#{$key} {
    padding: $value;
  }

  .mg-pad-l#{$key} {
    padding-left: $value;
  }

  .mg-pad-r#{$key} {
    padding-right: $value;
  }

  .mg-pad-t#{$key} {
    padding-top: $value;
  }

  .mg-pad-b#{$key} {
    padding-bottom: $value;
  }

  .mg-margin#{$key} {
    margin: $value;
  }

  .mg-margin-l#{$key} {
    margin-left: $value;
  }

  .mg-margin-r#{$key} {
    margin-right: $value;
  }

  .mg-margin-t#{$key} {
    margin-top: $value;
  }

  .mg-margin-b#{$key} {
    margin-bottom: $value;
  }

}

.mg-space-auto {
  margin: auto;
}


.mg-fit {
  min-width: 100%;
}

.mg-fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.mg-fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
}

.mg-valign-middle {
  vertical-align: middle;
}

.mg-relative {
  position: relative;
}

.mg-absolute {
  position: absolute;
}

.mg-fixed {
  position: fixed;
}

.mg-static {
  position: static;
}

.mg-sticky {
  position: sticky;
}


.mg-top {
  top: 0;
}

.mg-bottom {
  bottom: 0;
}

.mg-right {
  float: right;
  right: 0;
}

.mg-left {
  float: left;
  left: 0;
}

.mg-center {
  left: 50%;
  transform: translateX(-50%);
}

.mg-middle {
  top: 50%;
  transform: translateY(-50%);
}


.mg-top-left {
  top: 0;
  left: 0;
}

.mg-top-right {
  top: 0;
  right: 0;
}

.mg-bottom-left {
  bottom: 0;
  left: 0;
}

.mg-bottom-right {
  bottom: 0;
  right: 0;
}

.mg-text-center {
  text-align: center;
}

.mg-text-right {
  text-align: right;
}

.mg-text-left {
  text-align: left;
}