@use "../mg-variables";
@use "sass:map";

.mg-progress {
    display: inline-block;
    background-color: mg-variables.$color-quinary;
    border-radius: mg-variables.$control-radius;
    width: 100%;
    height: mg-variables.$font-size-s;
    margin-bottom: 1.2rem;

    &>.mg-progress--bar {
        border-radius: mg-variables.$control-radius;
        background-color: mg-variables.$color-primary;
        height: 100%;
    }
}