 /* Hide the browser's default radio button */
 .mg-radio input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
   height: 0;
   width: 0;
 }

 /* Create a custom radio button */
 .mg-radio .mg-radio--icon {
   position: absolute;
   top: calc(50% - 1.2rem);
   left: 0;
   height: 2.4rem;
   width: 2.4rem;
   border-radius: 50%;
   border-style: solid;
   border-color: $color-quaternary;
   border-width: thin;
   transition: all 0.4s;
 }

 /* On mouse-over, add a grey background color */
 .mg-radio:hover input~.mg-radio--icon {
   background-color: $color-secondary;
 }

 /* When the radio button is checked, add a blue background */
 .mg-radio input:checked~.mg-radio--icon {
   background-color: $color-primary;
 }

 /* Style the indicator (dot/circle) */
 .mg-radio .mg-radio--icon::after {
   top: 0.8rem;
   left: 0.8rem;
   width: 0.64rem;
   height: 0.64rem;
   border-radius: 50%;
   background-color: $color-light;
   content: "";
   position: absolute;
   display: none;
 }

 /* Show the indicator (dot/circle) when checked */
 .mg-radio input:checked~.mg-radio--icon::after {
   display: block;
 }


 .mg-radio input:disabled~.mg-radio--icon {
   background-color: $color-quinary;
 }

 .mg-radio input:focus~.mg-radio--icon {
   border-color: $color-primary;
   border-style: dotted;
   border-width: thin;
 }

 .mg-label--inline {
   font-weight: 400;
 }