@include build-none-half-full('mg-w', 'width');
@include build-none-half-full('mg-h', 'height');
@include build-none-half-full('mg-min-w', 'min-width');
@include build-none-half-full('mg-min-h', 'min-height');
@include build-none-half-full('mg-max-w', 'max-width');
@include build-none-half-full('mg-max-h', 'max-height');

// mg-w[0-100]vh { width: [0-100]vh step 10 }
@each $key, $value in $step-map {

    .mg-w#{$key}vh {
        width: #{$key}vh;
    }

    .mg-h#{$key}vh {
        height: #{$key}vh;
    }

    .mg-min-w#{$key}vh {
        min-width: #{$key}vh;
    }

    .mg-min-h#{$key}vh {
        min-height: #{$key}vh;
    }

    .mg-max-w#{$key}vh {
        max-width: #{$key}vh;
    }

    .mg-max-h#{$key}vh {
        max-height: #{$key}vh;
    }
}

@each $key, $value in $rem-map {
    .mg-h#{$key} {
        height: $value;
    }

    .mg-w#{$key} {
        width: $value;
    }

    .mg-min-h#{$key} {
        min-height: $value;
    }

    .mg-max-h#{$key} {
        max-height: $value;
    }

    .mg-min-w#{$key} {
        min-width: $value;
    }

    .mg-max-w#{$key} {
        max-width: $value;
    }
}

.mg-box-border {
    box-sizing: border-box;
}

.mg-box-content {
    box-sizing: content-box;
}