 .mg-w-full {
     width: 100%;
 }

 .mg-h-full {
     height: 100%;
 }

 .mg-min-w-full {
     min-width: 100%;
 }

 .mg-min-h-full {
     min-height: 100%;
 }

 .mg-max-w-full {
     max-width: 100%;
 }

 .mg-max-h-full {
     max-height: 100%;
 }

 .mg-w-half {
     width: 50%;
 }

 .mg-h-half {
     height: 50%;
 }

 .mg-min-w-half {
     min-width: 50%;
 }

 .mg-min-h-half {
     min-height: 50%;
 }

 .mg-max-w-half {
     max-width: 50%;
 }

 .mg-max-h-half {
     max-height: 50%;
 }


 // mg-w[0-100]vh { width: [0-100]vh step 10 }
 @each $key, $value in $step-map {

     .mg-w#{$key}vh {
         width: #{$key}vh;
     }

     .mg-h#{$key}vh {
         height: #{$key}vh;
     }

     .mg-min-w#{$key}vh {
         min-width: #{$key}vh;
     }

     .mg-min-h#{$key}vh {
         min-height: #{$key}vh;
     }

     .mg-max-w#{$key}vh {
         max-width: #{$key}vh;
     }

     .mg-max-h#{$key}vh {
         max-height: #{$key}vh;
     }
 }

 @each $key, $value in $rem-map {
     .mg-h#{$key} {
         height: $value;
     }

     .mg-w#{$key} {
         width: $value;
     }

     .mg-min-h#{$key} {
         min-height: $value;
     }

     .mg-max-h#{$key} {
         max-height: $value;
     }

     .mg-min-w#{$key} {
         min-width: $value;
     }

     .mg-max-w#{$key} {
         max-width: $value;
     }
 }

 .mg-box-border {
     box-sizing: border-box;
 }

 .mg-box-content {
     box-sizing: content-box;
 }