.mg-toggle {
  position: relative;
  padding-left: 6.08rem; // Converted from 3.8em to rem
  margin-right: 1.76rem; // Converted from 1.1em to rem
  margin-bottom: 1.5rem;
  cursor: pointer;
  user-select: none;
}

/* Hide the browser's default checkbox */
.mg-toggle input {
  opacity: 0;
  display: none;
  position: absolute;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.mg-toggle .mg-icon-toggle {
  border-radius: $control-radius;
  position: absolute;
  top: 0;
  left: 0;
  height: 2.72rem; // Converted from 1.7em to rem
  width: 4.8rem; // Converted from 3em to rem
  border-style: solid;
  border-color: $color-quaternary;
  border-width: thin;
  transition: all 0.3s;
}

/* On mouse-over, add a grey background color */
.mg-toggle input~.mg-icon-toggle {
  background-color: $color-quaternary;
}

/* When the checkbox is checked, add a blue background */
.mg-toggle input:checked~.mg-icon-toggle {
  background-color: $color-primary;
}

/* Create the mg-icon-toggle/indicator (hidden when not checked) */
.mg-toggle .mg-icon-toggle::after {
  border-radius: $control-radius;
  position: absolute;
  content: "";
  height: 2.08rem; // Converted from 1.3em to rem
  width: 2.24rem; // Converted from 1.4em to rem
  top: 0.2rem;
  left: 0.2rem;
  background-color: $color-light;
  transition: 0.3s;
  box-shadow: $control-shadow;
}

/* Show the mg-icon-toggle when checked */
.mg-toggle input:checked~.mg-icon-toggle::after {
  left: 2.08rem; // Converted from 1.3em to rem
}

/* disabled state */
.mg-toggle input:disabled~.mg-icon-toggle {
  background-color: $color-quinary;
  opacity: 0.7;
}

.mg-toggle input:focus~.mg-icon-toggle {
  border-color: $color-primary;
  border-style: dotted;
  border-width: thin;
}