.mg-toggle {
  position: relative;
  padding-left: 3.8em;
  margin-right: 1.1em;
  margin-bottom: 1.5rem;
  cursor: pointer;
  user-select: none;
}
/* Hide the browser's default checkbox */
.mg-toggle input {
  opacity: 0;
  display: none;
  position: absolute;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.mg-toggle .mg-toggle--icon {
  border-radius: $control-radius;
  position: absolute;
  top: 0;
  left: 0;
  height: 1.7em;
  width: 3em;
  border-style: solid;
  border-color: $color-quaternary;
  border-width: thin;
  transition: all 0.3s;
}

/* On mouse-over, add a grey background color */
.mg-toggle input ~ .mg-toggle--icon {
  background-color: $color-quaternary;
}

/* When the checkbox is checked, add a blue background */
.mg-toggle input:checked ~ .mg-toggle--icon {
  background-color: $color-primary;
}

/* Create the mg-toggle--icon/indicator (hidden when not checked) */
.mg-toggle .mg-toggle--icon:after {
  content: "";
  border-radius: $control-radius;
  position: absolute;
  content: "";
  height: 1.3em;
  width: 1.4em;
  top: 0.2rem;
  left: 0.2rem; 
  background-color: $color-light;
  transition: 0.3s;
  box-shadow: $control-shadow;
}

/* Show the mg-toggle--icon when checked */
.mg-toggle input:checked ~ .mg-toggle--icon:after {
  left: 1.3em;
}

/*disabled state*/
.mg-toggle input:disabled ~ .mg-toggle--icon {
  background-color: $color-quinary;
  opacity: 0.7;
}

.mg-toggle input:focus ~ .mg-toggle--icon {
  border-color: $color-primary;
  border-style: dotted;
  border-width: thin;
}
