// Tabs
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.mg-tabs > ul {
  display: flex;
  text-align: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  list-style: none; 
  margin: 0;
}

.mg-tabs > ul > li > * {
  color: $color-secondary;
  white-space: nowrap;
}
.mg-tabs > ul > li {
  font-weight: bold;
  border-bottom: 0.3rem solid transparent;
  color: $color-tertiary;
  opacity: 0.7;
  flex: 0 0 auto;
}

.mg-tabs > ul > li.active {
  color: $color-primary;
  border-color: $color-primary;
  overflow-y: hidden;
  opacity: 1;
}

.mg-tabs > ul > li:hover {
  color: $color-secondary;
  border-color: $color-tertiary;
  opacity: 1;
  transition: all 0.3s;
}

.mg-tabs--item {
  margin-left: 0.2em;
  margin-right: 0.2em;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.mg-tabs--content {
  display: none;
  padding-bottom: 1em;
  border-bottom: 1px solid transparent;
  border-color: $color-quaternary;
  clear: both;
}
