// Tabs
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.mg-tabs>ul {
  display: flex;
  text-align: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  list-style: none;
  margin-top: 1rem;
  margin-bottom: -1rem;


  &>li>* {
    color: $color-secondary;
    white-space: nowrap;
  }

  &>li {
    font-weight: bold;
    border-bottom: 0.3rem solid transparent;
    color: $color-tertiary;
    opacity: 0.7;
    flex: 0 0 auto;
  }

  &>li.active {
    color: $color-primary;
    border-color: $color-primary;
    overflow-y: hidden;
    opacity: 1;
  }

  &>li:hover {
    color: $color-secondary;
    border-color: $color-tertiary;
    opacity: 1;
    transition: all 0.3s;
  }
}


.mg-tabs--item {

  margin-left: 0.32rem;
  margin-right: 0.32rem;
  padding-left: 0.32rem;
  padding-right: 0.32rem;
}

.mg-tabs--content {
  border-top: 0.15rem solid $color-quaternary;
  display: none;
  padding: 1.5rem;
  clear: both;
}