$bullet-size: 2rem;

@mixin bullet-sequence {
  content: counter(list);
  font-size: $font-size-s;
  font-weight: 600;
}

.mg-timeline {
  line-height: normal;

  &>ul,
  &>ol {
    position: relative;
    padding-left: 3.6rem;
    list-style: none;
  }

  &>ul::before,
  &>ol::before {
    display: inline-block;
    content: "";
    position: absolute;
    top: 0;
    left: 1.5rem;
    width: 1rem;
    height: 100%;
  }

  &>ul li,
  &>ol li {
    counter-increment: list;
    position: relative;
    margin-bottom: 0;
  }

  &>ul li:not(:last-child),
  &>ol li:not(:last-child) {
    padding-bottom: 1rem;
  }

  &>ul li::before,
  &>ol li::before {
    display: inline-block;
    content: "";
    position: absolute;
    left: -3rem;
    height: 100%;
    width: 1rem;
    border-left: 0.3rem solid $color-quaternary;
  }

  &>ul li:last-child::before,
  &>ol li:last-child::before {
    border-color: none;
  }

  &>ul li::after,
  &>ol li::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: calc(-1 * ($bullet-size/2) - $bullet-size - 0.8rem);
    width: $bullet-size;
    height: $bullet-size;
    border: 0.3rem solid $color-quaternary;
    border-radius: 50%;
    background-color: $color-initial;
    text-align: center;
  }

  &>ol li::after {
    @include bullet-sequence;
  }

  &>ul li.active::before,
  &>ol li.active::before {
    border-left: 0.3rem solid $color-primary;
  }

  &>ul li:last-of-type::before,
  &>ol li:last-of-type::before {
    border-color: transparent;
  }

  &>ul li.active::after,
  &>ol li.active::after {
    border-color: $color-primary;
    background-color: $color-primary;
  }

  &>ol li.active::after {
    color: $color-light;
  }

  &>ul li.current::after,
  &>ol li.current::after {
    border-color: $color-primary;
  }
}

.mg-timeline-inline {
  line-height: normal;

  &>ul,
  &>ol {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
  }

  /* stylelint-disable */
  &>ul li,
  &>ol li {
    counter-increment: list;
    padding-right: 0.15rem;
    border-top: 0.3rem solid $color-quaternary;
    flex: 1 1 0;
  }

  &>ul li::before,
  &>ol li::before {
    content: "";
    left: 0;
    display: inline-block;
    position: relative;
    vertical-align: text-top;
    bottom: 1.2rem;
    width: $bullet-size;
    height: $bullet-size;
    border: 0.3rem solid $color-quaternary;
    border-radius: 50%;
    background-color: $color-initial;
    text-align: center;
  }

  &>ol li::before {
    @include bullet-sequence();
  }

  /* stylelint-enable */
  &>ul li.active,
  &>ol li.active {
    border-color: $color-primary;
  }

  &>ul li.active::before,
  &>ol li.active::before {
    border-color: $color-primary;
    background-color: $color-primary;
  }

  &>ol li.active::before {
    color: $color-light;
  }

  &>ul li.current::before,
  &>ol li.current::before {
    border-color: $color-primary;
  }

  &>ul li:last-of-type,
  &>ol li:last-of-type {
    border-top: 0.3rem solid transparent;
    flex: 0 1 auto;
  }
}