 @mixin dark-colors {
   --mg-color-initial: var(--mg-dark-color-initial);
   --mg-color-secondary: var(--mg-dark-color-secondary);
   --mg-color-tertiary: var(--mg-dark-color-tertiary);
   --mg-color-quaternary: var(--mg-dark-color-quaternary);
   --mg-color-quinary: var(--mg-dark-color-quinary);
 }

 @mixin light-colors {
   --mg-color-initial: var(--mg-color-initial);
   --mg-color-secondary: var(--mg-color-secondary);
   --mg-color-tertiary: var(--mg-color-tertiary);
   --mg-color-quaternary: var(--mg-color-quaternary);
   --mg-color-quinary: var(--mg-color-quinary);
 }

 /* stylelint-disable */
 :root {
   color-scheme: light;
 }

 .mg-theme-dark,
 :root[data-theme='dark'] {
   @include dark-colors;

   color-scheme: dark;

   .mg-hidden-dark {
     display: none;
   }
 }

 .mg-theme-light {
   @include light-colors;
   color-scheme: light;

   .mg-hidden-light {
     display: none;
   }
 }

 /* stylelint-enable */