 @mixin dark-colors {
   --mg-color-initial: var(--mg-dark-color-initial);
   --mg-color-secondary: var(--mg-dark-color-secondary);
   --mg-color-tertiary: var(--mg-dark-color-tertiary);
   --mg-color-quaternary: var(--mg-dark-color-quaternary);
   --mg-color-quinary: var(--mg-dark-color-quinary);
 }

 :root {
   color-scheme: light;
 }

 .mg-hidden-light {
   display: none;
 }


 :root[data-theme='dark'],
 .mg-theme--dark {
   @include dark-colors;
   color-scheme: dark;

   .mg-hidden-dark {
     display: none;
   }

   .mg-hidden-light {
     display: block;
   }
 }

 :root[data-theme='light'],
 .mg-theme--light {
   color-scheme: light;

   .mg-hidden-light {
     display: none;
   }

   .mg-hidden-dark {
     display: block;
   }

 }