/* stylelint-disable */
@mixin dark-colors {
  color-scheme: dark;
  --mg-color-initial: var(--mg-dark-color-initial);
  --mg-color-secondary: var(--mg-dark-color-secondary);
  --mg-color-tertiary: var(--mg-dark-color-tertiary);
  --mg-color-quaternary: var(--mg-dark-color-quaternary);
  --mg-color-quinary: var(--mg-dark-color-quinary);
}

@mixin light-colors {
  color-scheme: light;
  --mg-color-initial: var(--mg-color-light);
  --mg-color-secondary: oklch(20% 0.015 260);
  --mg-color-tertiary: oklch(40% 0.02 260);
  --mg-color-quaternary: oklch(60% 0.02 260);
  --mg-color-quinary: oklch(90% 0.01 260);
}

:root {
  color-scheme: light dark;
}

.mg-theme-dark,
:root[data-theme='dark'] {
  @include dark-colors;

  color-scheme: dark;

  .mg-hidden-dark {
    display: none;
  }
}

.mg-theme-light,
:root[data-theme='light'] {
  @include light-colors;

  color-scheme: light;

  .mg-hidden-light {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme='light']) {
    @include dark-colors;
  }
}
/* stylelint-enable */