html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--mg-color-initial);
}

header {
  position: relative;
  text-align: center;
  background: linear-gradient(
    60deg,
    rgba(84, 58, 183, 1) 0%,
    rgba(0, 172, 193, 1) 100%
  );
  color: var(--mg-color-initial);
}
footer {
  background-color: var(--mg-color-quinary);
}
.page {
  background-color: var(--mg-color-initial);
  margin:1rem;
}

@keyframes a {
  0% {
    fill-opacity: 0;
    stroke-dashoffset: 38321;
  }
  25% {
    fill-opacity: 0;
    stroke: var(--mg-color-primary);
  }
  to {
    fill-opacity: 1;
    stroke-dashoffset: 0;
  }
}
.navigation {
  background: #042846;
  color: var(--mg-color-light);
  display: block;
  height: 5.2rem;
  left: 0;
  max-width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 2;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.12);
}
.navigation .container {
  padding-bottom: 0;
  padding-top: 0;
}
.navigation .navigation-list {
  list-style: none;
  margin-bottom: 0;
  margin-right: 5rem;
}
@media (min-width: 80rem) {
  .navigation .navigation-list {
    margin-right: 0;
  }
}
.navigation .navigation-item {
  float: left;
  margin-bottom: 0;
  margin-left: 2.5rem;
  position: relative;
}
.logo {
  fill: var(--mg-color-primary);
  height: 2rem;
  position: relative;
  top: 0.3rem;
  z-index: 1;
}
.navigation .navigation-title,
.navigation .title {
  font-family: Gotham Rounded A, Gotham Rounded B, Helvetica Neue, Arial,
    sans-serif;
  position: relative;
}
.navigation .navigation-link,
.navigation .navigation-title,
.navigation .title {
  display: inline;
  font-size: 1.6rem;
  line-height: 5.2rem;
  padding: 0;
  text-decoration: none;
}

h2.title {
  padding-top: 2em;
}
.navigation .navigation-link.active {
  color: #606c76;
}
.octocat {
  border: 0;
  color: var(--mg-color-light);
  fill: var(--mg-color-primary);
  height: 5.2rem;
  position: fixed;
  right: 0;
  top: 0;
  width: 5.2rem;
  z-index: 1;
}
.octocat:hover .octocat-arm {
  animation: b 0.56s infinite;
  transform-origin: 13rem 10.6rem;
}
.octocat .octocat-arm,
.octocat .octocat-body {
  fill: #f4f5f6;
}
@keyframes b {
  0%,
  50% {
    transform: rotate(0);
  }
  25%,
  75% {
    transform: rotate(-25deg);
  }
}

.stage {
  display: flex;
  height: 130px;
  width: 100%;
}

.box {
  align-self: flex-end;
  animation-duration: 1s;
  animation-iteration-count: 1;
  height: 200px;
  margin: 0 auto 0 auto;
  transform-origin: bottom;
}

.bounce-7 {
  animation-name: bounce-7;
  animation-timing-function: cubic-bezier(0.48, 0.34, 0.92, 1);
}

@keyframes bounce-7 {
  0% {
    transform: scale(1.2, 0.85) translateY(-200px);
  }

  10% {
    transform: scale(1.1, 0.9) translateY(-150px);
  }

  30% {
    transform: scale(0.9, 1.1) translateY(-50px);
  }

  50% {
    transform: scale(1.1, 0.9) translateY(0);
  }

  57% {
    transform: scale(1.2, 0.8) translateY(-7px);
  }

  64% {
    transform: scale(1, 1) translateY(0);
  }

  100% {
    transform: scale(1, 1) translateY(0);
  }
}
/*override*/
code.prettyprint,
pre.prettyprint {
  width: auto !important;
  white-space: pre !important;
  font-size: smaller;
  background-color: #081e40 !important;
}

.blue-cell {
  background-color: var(--mg-color-primary);
  border: 1px solid var(--mg-color-quinary);
  color: var(--mg-color-initial);
  width: 100%;
  text-align: center;
}

.waves {
  margin-top: 22vh;
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
}

#home {
  padding-top: 10vh;
}
