.mg-alert {
  border-left: 0.3rem solid $color-primary;
  margin-left: 0;
  margin-right: 0;
  padding: 1rem 1.5rem;
  margin-bottom: 2.5rem;
  background-color: $color-quinary;
  width: 100%;
}
.mg-alert.mg-alert--danger {
  border-left-color: $color-danger;
}
.mg-alert.mg-alert--success {
  border-left-color: $color-success;
}
.mg-alert.mg-alert--warning {
  border-left-color: $color-warning;
}
.mg-alert *:last-child {
  margin: 0;
}
/* The close button */
.mg-alert--closebtn {
  margin: 1.5em;
  color: $color-secondary;
  font-weight: bold;
  float: right;
  font-size: 1.5em;
  line-height: 1em;
  cursor: pointer;
  transition: 0.3s;
}
/* When moving the mouse over the close button */
.mg-alert--closebtn:hover {
  opacity: 0.8;
}
