@mixin mg-arrow-after {

  border: 2px solid transparent;
  border-color: $color-light;
  right: 0.5rem;
  border-right: 0;
  border-top: 0;
  content: "";
  display: inline-block;
  pointer-events: none;
  position: absolute;
  transform-origin: center;
  width: 1rem;
  height: 1rem;
  transition: all 0.2s;

}

@mixin mg-arrow-down-after {

  transform: rotate(-45deg);
}

.mg-icon {
  width: 2.2rem;
  height: 2.2rem;
  vertical-align: middle;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  display: inline-flex;
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
  background-position: center;
}

.mg-close {
  cursor: pointer;
  transition: 0.3s;
  font-size: calc(100% + 1rem);
  margin-top: -1rem;
}

.mg-close::after {
  content: "\D7";
}

.mg-close:hover {
  opacity: 0.8;
}

.mg-arrow {
  display: inline-flex;
  align-items: center;

}

.mg-arrow::after {
  @include mg-arrow-after;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.mg-arrow.opened::after {
  margin-top: 0.5rem;
  margin-bottom: 0;
}


.mg-arrow.down::after {
  @include mg-arrow-down-after
}

.mg-arrow.left::after {
  transform: rotate(135deg);
  margin-bottom: 0rem;
}

.mg-arrow.up::after {
  transform: rotate(-135deg);
}

.mg-arrow.right::after {
  transform: rotate(225deg);
  margin-bottom: 0rem;
}

.mg-arrow.opened.down::after {
  transform: rotate(135deg);
}

.mg-arrow.opened.up::after {
  transform: rotate(135deg);
}

.mg-arrow.opened.left::after {
  transform: rotate(135deg);
}

.mg-arrow.opened.right::after {
  transform: rotate(135deg);
}

//fix arrow visibility when button is clear or outline
.mg-arrow.mg-button--link:after,
.mg-arrow.mg-button--clear:after,
.mg-arrow.mg-button--outline:after {
  border-color: $color-secondary;
}