.mg-check,
.mg-radio {
  position: relative;
  padding-left: 1.8em;
  margin-right: 1.1em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default checkbox */
.mg-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.mg-check .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5em;
  width: 1.5em;
  /*background-color:$color-quaternary;*/
  border-style: solid;
  border-color: $color-quaternary;
  border-width: thin;
  transition: all 0.3s;
}

/* On mouse-over, add a grey background color */
.mg-check:hover input ~ .checkmark {
  background-color: $color-secondary;
}

/* When the checkbox is checked, add a blue background */
.mg-check input:checked ~ .checkmark {
  background-color: $color-primary;
}

/* Create the checkmark/indicator (hidden when not checked) */
.mg-check .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.mg-check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.mg-check .checkmark:after {
  left: 0.5em;
  top: 0.1em;
  width: 0.5em;
  height: 1em;
  border: solid $color-initial;
  border-width: 0 2px 3px 0;
  transform: rotate(45deg);
}

/*disabled state*/
.mg-check input:disabled ~ .checkmark {
  background-color: $color-quinary;
}

.mg-check input:focus ~ .checkmark {
  border-color: $color-primary;
  border-style: dotted;
  border-width: thin;
}
