.mg-initial {
  color: $color-initial;
}

.mg-primary {
  color: $color-primary;
}

.mg-secondary {
  color: $color-secondary;
}

.mg-tertiary {
  color: $color-tertiary;
}

.mg-quaternary {
  color: $color-quaternary;
}

.mg-quinary {
  color: $color-quinary;
}

.mg-warning {
  color: $color-warning;
}

.mg-danger {
  color: $color-danger;
}

.mg-success {
  color: $color-success;
}

.mg-light {
  color: $color-light;
}

.mg-dark {
  color: $color-dark;
}

.mg-blue {
  color: $color-blue;
}

.mg-red {
  color: $color-red;
}

.mg-green {
  color: $color-green;
}

.mg-orange {
  color: $color-orange;
}

.mg-bg-initial {
  background-color: $color-initial;
}

.mg-bg-primary {
  background-color: $color-primary;
}

.mg-bg-secondary {
  background-color: $color-secondary;
}

.mg-bg-tertiary {
  background-color: $color-tertiary;
}

.mg-bg-quaternary {
  background-color: $color-quaternary;
}

.mg-bg-quinary {
  background-color: $color-quinary;
}

.mg-bg-warning {
  background-color: $color-warning;
}

.mg-bg-danger {
  background-color: $color-danger;
}

.mg-bg-success {
  background-color: $color-success;
}

.mg-bg-light {
  background-color: $color-light;
}

.mg-bg-dark {
  background-color: $color-dark;
}

.mg-bg-blue {
  background-color: $color-blue;
}

.mg-bg-red {
  background-color: $color-red;
}

.mg-bg-green {
  background-color: $color-green;
}

.mg-bg-orange {
  background-color: $color-orange;
}