.mg-icon {
  width: 2.2rem;
  height: 2.2rem;
  vertical-align: middle;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  display: inline-flex;
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
}

.mg-close {
  cursor: pointer;
  transition: 0.3s;
  font-size: calc(100% + 1rem);
  margin-top: -1rem;
}

.mg-close::after {
  content: "\D7";
}

.mg-close:hover {
  opacity: 0.8;
}

.mg-arrow {
  border: solid;
  border-width: 0 0.2rem 0.2rem 0;
  display: inline-block;
  padding: 0.4rem;
}

.mg-arrow>* {
  -webkit-transform: rotate(0);
  transform: rotate(0);
}

.mg-arrow.mg-arrow--right {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-right: 0.1rem;
  margin-left: 0.1rem;
}

.mg-arrow.mg-arrow--left {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.mg-arrow.mg-arrow--up {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  margin-right: 0.4rem;
  margin-left: 0.4rem;
  top: 2rem;
}

.mg-arrow.mg-arrow--down {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}