@mixin mg-arrow-after {
 
  font-size: 2.5rem; 
  pointer-events: none; 
  transform-origin: center; 
  transition: all 0.2s;
  margin-right: -0.9rem;
  
}

@mixin mg-arrow-down-after {

  content :"▾"; 
}

.mg-icon {
  width: 2.2rem;
  height: 2.2rem;
  vertical-align: middle;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  display: inline-flex;
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
  background-position: center;
}

.mg-close {
  cursor: pointer;
  transition: 0.3s;
  font-size: calc(100% + 1rem);
  margin-top: -1rem;
}

.mg-close::after {
  content: "\D7";
}

.mg-close:hover {
  opacity: 0.8;
}

.mg-arrow {
  display: inline-flex;
  align-items: center; 
  justify-content: space-between;
}

.mg-arrow::after {
  @include mg-arrow-after;
  margin-top: 0;
 
}

.mg-arrow.opened::after {
  margin-top: 0.5rem;
  margin-bottom: 0;
}


.mg-arrow.down::after {
  @include mg-arrow-down-after
}

.mg-arrow.left::after {
  transform: rotate(135deg);
  margin-bottom: 0rem;
}

.mg-arrow.up::after {
  transform: rotate(-135deg);
}

.mg-arrow.right::after {
  content :"▸"; 
}

.mg-arrow.opened.down::after {
  content :"▴";
  margin-bottom: 0.9rem;
}

.mg-arrow.opened.up::after {
  content :"▾";
}

.mg-arrow.opened.left::after {
  content :"▾"; 
}

.mg-arrow.opened.right::after {
  content :"▾"; 
}

//fix arrow visibility when button is clear or outline
.mg-arrow.mg-button--link:after,
.mg-arrow.mg-button--clear:after,
.mg-arrow.mg-button--outline:after {
  border-color: $color-secondary;
}