/* The container must be positioned relative: */
.mg-dropdown {
  position: relative;
  margin-bottom: 1rem;
  display: inline-block;
}
.mg-dropdown input {
  display: none; /*hide original SELECT element: */
}

.mg-dropdown--button {
  width: 100%;
  margin-bottom: 0;
  padding-right: 2em;
  text-overflow: ellipsis;
}

.mg-dropdown--button:after {
  border: 2px solid transparent;
  border-color: $color-light;
  right: 0.8rem;
  border-right: 0;
  border-top: 0;
  content: " ";
  display: block;
  height: 1rem;
  margin-top: -0.7rem;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: rotate(-45deg);
  transform-origin: center;
  width: 1rem;
  transition: all 0.2s;
}

/* Point the arrow upwards when the select box is open (active): */
.mg-dropdown.opened > .mg-dropdown--button:after {
  transform: rotate(135deg);
  margin-top: -0.4rem;
}
.mg-dropdown--button.button--clear:after {
  border-color: $color-secondary;
}

.mg-dropdown--button.button--outline:after {
  border-color: $color-secondary;
}

.mg-dropdown--content {
  width: max-content;
  box-shadow: $control-shadow;
  min-width: 100%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: none;
  position: absolute;
  background-color: $color-initial;
  top: 100%;
  z-index: 1;
  border-color: $color-quaternary;
  border-radius: $input-radius;
  max-height: 50vh;
  overflow-y: auto;
}

.mg-dropdown--content.mg-dropdown--content-fit {
  min-width: 100%;
}
.mg-dropdown--content.mg-dropdown--content-right {
  right: 0;
}
.mg-dropdown--content.mg-dropdown--content-left {
  left: 0;
}
.mg-dropdown.opened > .mg-dropdown--content {
  display: block;
}
