//  Make all grid columns
//  ---------------------------------------------

@include create-all-grid-columns();

//  Columns X
//  ---------------------------------------------

@include create-grid-columns($name--X);

//  Columns S
//  ---------------------------------------------

@media (min-width: $screen--S) {
  @include create-grid-columns($name--S);
}

//  Columns M
//  ---------------------------------------------

@media (min-width: $screen--M) {
  @include create-grid-columns($name--M);
}

//  Columns L
//  ---------------------------------------------

@media (min-width: $screen--L) {
  @include create-grid-columns($name--L);
}

//  Columns XL
//  ---------------------------------------------

@media (min-width: $screen--XL) {
  @include create-grid-columns($name--XL);
}
//
//  Grid
//  _____________________________________________


//Adaptative hide
@media (max-width: $screen--S) {
  @include create-conditional-hidden($name--S);
}
@media (max-width: $screen--M) {
  @include create-conditional-hidden($name--M);
}
@media (max-width: $screen--L) {
  @include create-conditional-hidden($name--L);
}
@media (max-width: $screen--XL) {
  @include create-conditional-hidden($name--XL);
}

//Adaptative display
@media (min-width: $screen--S) {
  @include create-conditional-display($name--S);
}
@media (min-width: $screen--M) {
  @include create-conditional-display($name--M);
}
@media (min-width: $screen--L) {
  @include create-conditional-display($name--L);
}
@media (min-width: $screen--XL) {
  @include create-conditional-display($name--XL);
}

.mg-container {
  @include init-container();
  max-width: $screen--L;
}
.mg-container-fluid {
  @include init-container();
  max-width: width auto;
}

.mg-row {
  @include init-row();
}

.mg-col {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.mg-col > * {
  flex: 0 0 auto;
}
