
.mg-arrow {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
@mixin mg-arrow-after {
   
    font-size: 1.2rem; 
    pointer-events: none; 
    transform-origin: center; 
    transition: all 0.2s;
    margin-right: 0rem;
    margin-left: 0.5rem;
    font-style: normal;
    font-weight: lighter;
    
  }
  
  @mixin mg-arrow-down-after {
    content:'❯';
    rotate: 90deg; 
  } 
   
  .mg-arrow::after {
    @include mg-arrow-after;
    margin-top: 0;
   
  }
  
  .mg-arrow.opened::after {
    transform: rotate(180deg);
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
  
  
  .mg-arrow.down::after {
    @include mg-arrow-down-after
  }
  
  .mg-arrow.left::after {
    transform: rotate(-90deg);
    margin-bottom: 0rem;
  }
  
  .mg-arrow.up::after, .mg-arrow.opened::after {
    transform: rotate(180deg);
    margin-bottom: 0.9rem;
  }
  
  
  .mg-arrow.right.opened::after { 
    transform: rotate(90deg);
  }
  
  .mg-arrow.right::after { 
    margin-left: 0.5rem; 
    content:'❯';
  }
    
  //fix arrow visibility when button is clear or outline
  .mg-arrow.mg-button--link:after,
  .mg-arrow.mg-button--clear:after,
  .mg-arrow.mg-button--outline:after {
    border-color: $color-secondary;
  }