.mg-modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  backface-visibility: hidden;
  z-index: 1000;
  opacity: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: all 0.3s;
}

.mg-modal > .mg-modal--content {
  background-color: $color-initial;
  border-radius: $control-radius;
  color: $color-secondary;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  z-index: 2000;
  box-shadow: $control-shadow;
}

.mg-modal > .mg-modal--content > .mg-modal--body {
  max-height: 80vh;
  overflow-y: auto;
}

.mg-modal.mg-right > .mg-modal--content {
  position: fixed;
  right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.mg-modal.mg-left > .mg-modal--content {
  position: fixed;
  left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.mg-modal.mg-bottom > .mg-modal--content {
  bottom: 0;
}
.mg-modal.mg-top > .mg-modal--content {
  top: 0;
}
