/* The switch - the box around the slider */
.mg-switch {
  position: relative;
  display: inline-block;
  height: 2em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 1.5rem;
  width: 3.7em;
}

/* Hide default HTML checkbox */
.mg-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.mg-switch--slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color-quaternary;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.mg-switch--slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  left: 0.3em;
  bottom: 0.3em;
  background-color: $color-light;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  box-shadow: $control-shadow;
}

input:checked + .mg-switch--slider {
  background-color: $color-primary;
}

input:focus + .mg-switch--slider {
  box-shadow: 0 0 1px $color-primary;
}

input:checked + .mg-switch--slider:before {
  -webkit-transform: translateX(1.5em);
  -ms-transform: translateX(1.5em);
  transform: translateX(1.5em);
}

/* Rounded sliders */
.mg-switch--slider.mg-switch--round {
  border-radius: $control-radius;
}

.mg-switch--slider.mg-switch--round:before {
  border-radius: 50%;
}
