
//mg-w[0-100] { width: [0-100]% }
@each $key, $value in $sizing-map {
 
    .mg-w#{$key} {
        width: #{$value};
    }

    .mg-h#{$key} {
        height: #{$value};
    }

    .mg-min-w#{$key} {
        min-width: #{$value};
    }

    .mg-min-h#{$key} {
        min-height: #{$value};
    }

    .mg-max-w#{$key} {
        max-width: #{$value};
    }

    .mg-max-h#{$key} {
        max-height: #{$value};
    } 
} 
//mg-w[0-100]vh { width: [0-100]vh }
@each $key, $value in $sizing-map {
 
    .mg-w#{$key}vh {
        width: #{$key}vh;
    }

    .mg-h#{$key}vh {
        height: #{$key}vh;
    }

    .mg-min-w#{$key}vh {
        min-width: #{$key}vh;
    }

    .mg-min-h#{$key}vh {
        min-height: #{$key}vh;
    }

    .mg-max-w#{$key}vh {
        max-width: #{$key}vh;
    }

    .mg-max-h#{$key}vh {
        max-height: #{$key}vh;
    } 
} 