.mg-timeline {
  position: relative;
  padding-left: 45px;
  list-style: none;
}
.mg-timeline::before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  left: 15px;
  width: 10px;
  height: 100%;
  border-left: 2px solid #ccc;
}
.mg-timeline--item {
  position: relative;
  counter-increment: list;
  margin-bottom: 0;
}
.mg-timeline--item:not(:last-child) {
  padding-bottom: 20px;
}
.mg-timeline--item::before {
  display: inline-block;
  content: "";
  position: absolute;
  left: -30px;
  height: 100%;
  width: 10px;
}
.mg-timeline--item::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: -35px;
  width: 12px;
  height: 12px;
  border: 2px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
}
.mg-timeline--item.mg-timeline--is-done::before {
  border-left: 2px solid var(--mg-color-primary);
}
.mg-timeline--item.mg-timeline--is-done::after {
  /*content: "?";*/
  font-size: 10px;
  color: #fff;
  text-align: center;
  border: 2px solid var(--mg-color-primary);
  background-color: var(--mg-color-primary);
}
.mg-timeline--item.current::after {
  border: 4px solid var(--mg-color-primary);
  width: 15px;
  height: 15px;
  left: -37px;
  border-radius: 50%;
}

.mg-timeline strong {
  display: block;
}
