.mg-timeline > ul {
  position: relative;
  padding-left: 4.5rem;
  list-style: none;
}
.mg-timeline > ul::before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  left: 1.5rem;
  width: 1rem;
  height: 100%;
}
.mg-timeline > ul li {
  position: relative;
  counter-increment: list;
  margin-bottom: 0;
}
.mg-timeline > ul li:not(:last-child) {
  padding-bottom: 1rem;
}
.mg-timeline > ul li::before {
  display: inline-block;
  content: "";
  position: absolute;
  left: -3rem;
  height: 100%;
  width: 10px;
  border-left: 0.3rem solid var(--mg-color-quaternary);
}
.mg-timeline > ul li:last-child::before {
  border-color: none;
}
.mg-timeline > ul li::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: -3.6rem;
  width: 1.5rem;
  height: 1.5rem;
  border: 0.3rem solid var(--mg-color-quaternary);
  border-radius: 50%;
  background-color: var(--mg-color-initial);
}
.mg-timeline > ul li.active::before {
  border-left: 0.3rem solid var(--mg-color-primary);
}
.mg-timeline > ul li:last-of-type::before {
  border-left: 0.3rem solid transparent !important;
}

.mg-timeline > ul li.active::after {
  font-size: 1rem;
  text-align: center;
  border: 0.3rem solid var(--mg-color-primary);
  background-color: var(--mg-color-primary);
}
.mg-timeline > ul li.current::after {
  border: 0.3rem solid var(--mg-color-primary);
  width: 1.5rem;
  height: 1.5rem;
  left: -3.6rem;
  border-radius: 50%;
}

.mg-timeline-inline > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.mg-timeline-inline > ul li {
  border-top: 0.3rem solid var(--mg-color-quaternary);
  flex-grow: 1;
}

.mg-timeline-inline > ul li.active {
  padding-right: 1rem;
  border-color: var(--mg-color-primary);
}
.mg-timeline-inline > ul li.active::before {
  font-size: 1rem;
  text-align: center;
  border-color: var(--mg-color-primary);
  background-color: var(--mg-color-primary);
}
.mg-timeline-inline > ul li.current::before {
  border: 0.3rem solid var(--mg-color-primary);
  border-radius: 50%;
}
.mg-timeline-inline > ul li::before {
  content: "";
  position: absolute;
  left: 0;
  display: inline-block;
  position: relative;
  top: -1.2rem;
  width: 1.5rem;
  height: 1.5rem;
  border: 0.3rem solid var(--mg-color-quaternary);
  border-radius: 50%;
  background-color: var(--mg-color-initial);
}
.mg-timeline-inline > ul li:last-of-type {
  border-top: 0.3rem solid transparent;
  flex-grow: 0;
}
