/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
}

/* The actual timeline (the vertical ruler) */
.timeline::before {
  content: "";
  position: absolute;
  width: 0.5rem;
  background-color: var(--mg-color-tertiary);
  top: 0;
  bottom: 0;
  left: 1.2rem;
  //left: 50%;
}

/* Container around content */
.container {
  position: relative;
  background-color: inherit;

  margin-left: 4rem;
}

/* Container around content */

/* The circles on the timeline */
.container::before {
  content: "";
  position: absolute;
  width: 3rem;
  height: 3rem;

  background-color: white;
  border: 4px solid var(--mg-color-primary);

  border-radius: 50%;
  left: -4rem;
}
.container {
  padding-top: 0;
  padding-bottom: 0;
}
.container:last-child {
}
