.mg-timeline > ul {
  position: relative;
  padding-left: 45px;
  list-style: none;
}
.mg-timeline > ul::before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  left: 15px;
  width: 10px;
  height: 100%;
  border-left: 2px solid #ccc;
}
.mg-timeline > ul li {
  position: relative;
  counter-increment: list;
  margin-bottom: 0;
}
.mg-timeline > ul li:not(:last-child) {
  padding-bottom: 20px;
}
.mg-timeline > ul li::before {
  display: inline-block;
  content: "";
  position: absolute;
  left: -30px;
  height: 100%;
  width: 10px;
}
.mg-timeline > ul li::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: -35px;
  width: 12px;
  height: 12px;
  border: 2px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
}
.mg-timeline > ul li.active::before {
  border-left: 2px solid var(--mg-color-primary);
}
.mg-timeline > ul li.active::after {
  /*content: "?";*/
  font-size: 10px;
  color: #fff;
  text-align: center;
  border: 2px solid var(--mg-color-primary);
  background-color: var(--mg-color-primary);
}
.mg-timeline > ul li.current::after {
  border: 4px solid var(--mg-color-primary);
  width: 15px;
  height: 15px;
  left: -37px;
  border-radius: 50%;
}
