/**
 * Utilities
 */
.mg-show {
  opacity: 1;
  visibility: visible;
}

.mg-right {
  float: right;
}

.mg-left {
  float: left;
}

.mg-clearfix {
  *zoom: 1;
}

.mg-clearfix:after,
.mg-clearfix:before {
  content: "";
  display: table;
}

.mg-clearfix:after {
  clear: both;
}

.mg-text-left {
  text-align: left;
}

.mg-text-right {
  text-align: right;
}

.mg-text-center {
  text-align: center;
}

.mg-fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}
.mg-fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}

.mg-margin-auto {
  margin: auto;
}
.mg-center-block {
  display: block;
  text-align: center;
}
.mg-right-block {
  display: block;
  text-align: right;
}
.mg-left-block {
  display: block;
  text-align: left;
}

.mg-valign-middle {
  vertical-align: middle;
}

.mg-min-100vh {
  min-height: 100vh;
}
.mg-100vh {
  height: 100vh;
}

.mg-label--light {
  font-weight: 400;
}

.mg-w100 {
  width: 100%;
}

.mg-h100 {
  height: 100%;
}

.mg-initial {
  color: $color-initial;
}
.mg-primary {
  color: $color-primary;
}
.mg-secondary {
  color: $color-secondary;
}
.mg-tertiary {
  color: $color-tertiary;
}
.mg-quaternary {
  color: $color-quaternary;
}
.mg-quinary {
  color: $color-quinary;
}
.mg-warning {
  color: $color-warning;
}
.mg-danger {
  color: $color-danger;
}
.mg-success {
  color: $color-success;
}
.mg-light {
  color: $color-light;
}
.mg-dark {
  color: $color-dark;
}

.mg-bg-initial {
  background-color: $color-initial;
}
.mg-bg-primary {
  background-color: $color-primary;
}
.mg-bg-secondary {
  background-color: $color-secondary;
}
.mg-bg-tertiary {
  background-color: $color-tertiary;
}
.mg-bg-quaternary {
  background-color: $color-quaternary;
}
.mg-bg-quinary {
  background-color: $color-quinary;
}
.mg-bg-warning {
  background-color: $color-warning;
}
.mg-bg-danger {
  background-color: $color-danger;
}
.mg-bg-success {
  background-color: $color-success;
}
.mg-bg-light {
  background-color: $color-light;
}
.mg-bg-dark {
  background-color: $color-dark;
}

.mg-icon {
  width: 2.2rem;
  height: 2.2rem;
  vertical-align: middle;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
  display: inline-flex;
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
}

.mg-close {
  cursor: pointer;
  transition: 0.3s;
  font-size: 120%;
}
.mg-close::before {
  content: "\D7";
}
.mg-close:hover {
  opacity: 0.8;
}

.mg-arrow {
  border: solid;
  border-width: 0 0.2rem 0.2rem 0;
  display: inline-block;
  padding: 0.4rem;
}
.mg-arrow > * {
  -webkit-transform: rotate(0);
  transform: rotate(0);
}

.mg-arrow.mg-arrow--right {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-right: 0.1rem;
  margin-left: 0.1rem;
}

.mg-arrow.mg-arrow--left {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.mg-arrow.mg-arrow--up {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  margin-right: 0.4rem;
  margin-left: 0.4rem;
  top: 2rem;
}

.mg-arrow.mg-arrow--down {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}
