// Colors as classes
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.mg-color-initial {
  color: $color-initial;
}
.mg-color-primary {
  color: $color-primary;
}
.mg-color-secondary {
  color: $color-secondary;
}
.mg-color-tertiary {
  color: $color-tertiary;
}
.mg-color-quaternary {
  color: $color-quaternary;
}
.mg-color-quinary {
  color: $color-quinary;
}
.mg-color-warning {
  color: $color-warning;
}
.mg-color-danger {
  color: $color-danger;
}
.mg-color-success {
  color: $color-success;
}

.mg-bg-color-initial {
  background-color: $color-initial;
}
.mg-bg-color-primary {
  background-color: $color-primary;
}
.mg-bg-color-secondary {
  background-color: $color-secondary;
}
.mg-bg-color-tertiary {
  background-color: $color-tertiary;
}
.mg-bg-color-quaternary {
  background-color: $color-quaternary;
}
.mg-bg-color-quinary {
  background-color: $color-quinary;
}
.mg-bg-color-warning {
  background-color: $color-warning;
}
.mg-bg-color-danger {
  background-color: $color-danger;
}
.mg-bg-color-success {
  background-color: $color-success;
}
