// Form
// ––––––––––––––––––––––––––––––––––––––––––––––––––

input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
textarea,
select {
  appearance: none; // Removes awkward default styles on some inputs for iOS
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border: 0.1rem solid $color-quaternary;
  border-radius: $input-radius;
  box-shadow: none;
  box-sizing: inherit; // Forced to replace inherit values of the normalize.css
  height: 3.8rem;
  padding: 0.6rem 0.5rem; // The .6rem vertically centers text on FF, ignored by Webkit
  width: 100%;

  &:focus {
    border-color: $color-primary;
    outline: 0;
  }
}

//Hide spin to input numbers
//Chrome, Safari, Edge, Opera
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
//Mozilla
input[type="number"] {
  -moz-appearance: textfield;
}

textarea {
  min-height: 6.5rem;
}

label,
legend {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

fieldset {
  border-width: 0;
  padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

.label-inline {
  display: inline-block;
  font-weight: normal;
  margin-left: 0.5rem;
}
