.svg-icon-darkmode {
    background-image: url("./images/darkmode.svg");
}

.svg-icon-colors {
    background-image: url("./images/colors.svg");
}

.svg-icon-gears {
    background-image: url("./images/gears.svg");
}

.svg-icon-fr {
    background-image: url("./images/fr.svg");
}

.svg-icon-sp {
    background-image: url("./images/sp.svg");
}

.svg-icon-de {
    background-image: url("./images/de.svg");
}

.svg-icon-search {
    background-image: url("./images/search.svg");
}

.svg-icon-clipboard {
    background-image: url("./images/clipboard.svg");
}

.svg-icon-github {
    background-image: url("./images/github.svg");
}

.svg-icon-night {
    background-image: url("./images/night-fog.svg");
}

.svg-icon-sun {
    background-image: url("./images/sun-fog.svg");
}

.svg-icon-screen-s {
    background-image: url("./images/screen-s.svg");
}

.svg-icon-screen-m {
    background-image: url("./images/screen-m.svg");
}

.svg-icon-screen-l {
    background-image: url("./images/screen-l.svg");
}

.svg-icon-screen-xl {
    background-image: url("./images/screen-xl.svg");
}

.svg-icon-vite {
    background-image: url("./images/vite.svg");
}

.svg-icon-github-dark {
    background-image: url("./images/github-black.svg");
}

.svg-icon-evo {
    background-image: url("./images/evodim-icon.svg");
}