:root {
  --mg-color-primary: #475dca;
  --mg-color-secondary: #34237a;
  --mg-dark-color-initial: #302f2f;
  --mg-control-radius: 1.5rem;
  --mg-input-radius: 1.5rem;
  --mg-control-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.2);
}

html {
  scroll-behavior: smooth;
}

section > h2 {
  padding-top: 10rem;
  border-bottom: var(--mg-color-primary) 3px solid;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
nav {
  transition: all 1s ease-in-out;
}

header {
  padding-top: 10vh;
  position: relative;
  text-align: center;
  background: linear-gradient(360deg, transparent 1%, #34237a 0%, #0cd4ef 90%);
}

.grid-cel {
  font-weight: bold;
  width: 100%;
  background-color: var(--mg-color-primary);
  color: var(--mg-color-light);
  border: 1px solid var(--mg-color-initial);
  padding: 4px;
}

/*override*/
code.prettyprint,
pre.prettyprint {
  width: auto !important;
  white-space: pre !important;
  font-size: smaller;
  background-color: #081e40 !important;
  border-radius: 0 !important;
}

.waves {
  bottom: 0;
  left: 0;
  height: 20vh;
  width: 100%;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.animated-waves > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  fill: var(--mg-color-initial);
}

.animated-waves > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
  opacity: 0.9;
}
.animated-waves > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
  opacity: 0.7;
}
.animated-waves > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
  opacity: 0.3;
}
.animated-waves > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
  opacity: 0.2;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

.logo-animation {
  animation: drop-animation 2s linear;
  height: 20vh;
  pointer-events: none;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes drop-animation {
  0% {
    transform: scale(1.2, 0.85) translateY(-200px);
  }

  10% {
    transform: scale(1.1, 0.9) translateY(-150px);
  }

  30% {
    transform: scale(0.9, 1.1) translateY(-50px);
  }

  50% {
    transform: scale(1.1, 0.9) translateY(0);
  }

  57% {
    transform: scale(1.2, 0.8) translateY(-7px);
  }

  64% {
    transform: scale(1, 1) translateY(0);
  }

  100% {
    transform: scale(1, 1) translateY(0);
  }
}

#picker {
  padding: 1rem;
}

.liquid {
  display: flex;
  justify-content: center;
  align-content: space-around;
  align-items: center;
  width: 10rem;
  height: 10rem;
  content: "";
  border-radius: 54% 46% 42% 58% / 60% 58% 42% 40%;
  animation: wave 5s linear infinite;
}
@keyframes wave {
  20% {
    border-radius: 45% 55% 62% 38% / 53% 51% 49% 47%;
  }
  40% {
    border-radius: 45% 55% 49% 51% / 36% 51% 49% 64%;
  }
  60% {
    border-radius: 60% 40% 57% 43% / 47% 62% 38% 53%;
  }
  80% {
    border-radius: 60% 40% 32% 68% / 38% 36% 64% 62%;
  }
}

.grid-bg {
}
.grid-bg::before {
  content: "";
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 30vh;
  background: linear-gradient(
        90deg,
        var(--mg-color-quinary) 1px,
        transparent 1px 10vmin
      )
      0 10vmin / 10vmin 10vmin,
    linear-gradient(var(--mg-color-quinary) 1px, transparent 1px 10vmin) 0
      10vmin / 10vmin 10vmin;
  mask: linear-gradient(
    180deg,
    transparent 10% 0%,
    var(--mg-color-quinary) 100%
  );
  z-index: -2;
}

code .kwd,
pre .kwd {
  color: #fff !important;
}
