:root {
  --mg-color-dark: #000000;
  --mg-color-light: #fcfcfc;
  --mg-color-initial: #ffffff;
  --mg-color-primary: #9b4dca;
  --mg-color-secondary: #302f2f;
  --mg-color-tertiary: #797979;
  --mg-color-quaternary: #a7a7a7;
  --mg-color-quinary: #dadada;
  --mg-control-radius: 0.4rem;
  --mg-input-radius: 0.1rem;
  --mg-color-red: #dc3545;
  --mg-color-orange: #fd7e14;
  --mg-color-blue: #007bff;
  --mg-color-green: #28a745;
  --mg-control-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 3px 4px rgba(0, 0, 0, 0.15);
  --mg-gutter-size: 0.5rem;
}
.mg-theme-inverted {
  --mg-color-initial: #302f2f !important;
  --mg-color-secondary: #dadada !important;
  --mg-color-tertiary: #a7a7a7 !important;
  --mg-color-quaternary: #817f7f !important;
  --mg-color-quinary: #4e4e4e !important;
}
//
//  Variables
//  _____________________________________________
$color-light: var(--mg-color-light) !default;
$color-dark: var(--mg-color-dark) !default;
$color-initial: var(--mg-color-initial) !default;
$color-primary: var(--mg-color-primary) !default;
$color-secondary: var(--mg-color-secondary) !default;
$color-tertiary: var(--mg-color-tertiary) !default;
$color-quaternary: var(--mg-color-quaternary) !default;
$color-quinary: var(--mg-color-quinary) !default;
$control-radius: var(--mg-control-radius) !default;
$input-radius: var(--mg-input-radius) !default;
$control-shadow: var(--mg-control-shadow) !default;
$color-red: var(--mg-color-red);
$color-orange: var(--mg-color-orange);
$color-blue: var(--mg-color-blue);
$color-green: var(--mg-color-green);
$color-danger: $color-red;
$color-warning: $color-orange;
$color-success: $color-green;
$grid__columns: 12;
$grid__gutter: 0;

$name--X: mg-x;
$name--S: mg-s;
$name--M: mg-m;
$name--L: mg-l;
$name--XL: mg-xl;

$break--S: 480px;
$break--M: 768px;
$break--L: 1024px;
$break--XL: 1440px;

$screen--S: $break--S + 1;
$screen--M: $break--M + 1;
$screen--L: $break--L + 1;
$screen--XL: $break--XL + 1;
