
.logo {
    animation: drop-animation 2s linear;
    height: 20vh;
    pointer-events: none;
  }

  
@keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
   
  @keyframes drop-animation {
    0% {
      transform: scale(1.2, 0.85) translateY(-200px);
    }
  
    10% {
      transform: scale(1.1, 0.9) translateY(-150px);
    }
  
    30% {
      transform: scale(0.9, 1.1) translateY(-50px);
    }
  
    50% {
      transform: scale(1.1, 0.9) translateY(0);
    }
  
    57% {
      transform: scale(1.2, 0.8) translateY(-7px);
    }
  
    64% {
      transform: scale(1, 1) translateY(0);
    }
  
    100% {
      transform: scale(1, 1) translateY(0);
    }
  }
  
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
    padding-top: 1rem;
    padding-bottom: 1rem; 
  
  }
  .hamburger > span {
    display: block; 
    width: 2.5rem;
    height: 0;  
    border-bottom: 0.2rem solid;
    border-radius: 3px;
  } 
  